# Importar limprerías + cargar df

In [32]:
import pandas as pd
import numpy as np

In [107]:
df = pd.read_csv("C:\\Users\\Usuario\\OneDrive\\Documentos\\Master Data Analytics\\Proyecto Júpiter\Datasets\\alojamientos-turisticos-sample.csv")

In [108]:
df.head(2)

,apartment_id,md5,name,description,host_id,neighborhood_overview,neighbourhood_name,neighbourhood_district,latitude,longitude,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,is_instant_bookable,reviews_per_month,country,city,insert_date
0,36187629,66fff4225feb2ddf104ea38f76e4bff1,Piso reformado excelente ubicacion,Apartamento reformado hace dos meses en el Cab...,261787331,NaN,BETERO,POBLATS MARITIMS,3.947.149,-3.346,...,10.0,10.0,10.0,10.0,NaN,True,0.22,spain,valencia,2019-12-31
1,5388904,48790b4dd865e98cc1f5302a2bba1a50,Nice Room in a Penthouse,The apartment is fully equipped. Large bathroo...,20843074,NaN,la Nova Esquerra de l'Eixample,Eixample,4.138.353,215.388,...,8.0,10.0,10.0,10.0,NaN,False,0.01,spain,barcelona,2021-01-12

In [109]:
df.columns

Index(['apartment_id', 'md5', 'name', 'description', 'host_id',
       'neighborhood_overview', 'neighbourhood_name', 'neighbourhood_district',
       'latitude', 'longitude', 'room_type', 'accommodates', 'bathrooms',
       'bedrooms', 'beds', 'amenities_list', 'price', 'minimum_nights',
       'maximum_nights', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'first_review_date', 'last_review_date',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'is_instant_bookable',
       'reviews_per_month', 'country', 'city', 'insert_date'],
      dtype='object')

# Eliminar columnas que no nesesitamos

Eliminamos las siguientes columnas debido a que los datos de AirBnb no están disponibles, lo que hace imposible compararlos o crear un único DF.

**Eliminamos:**
md5,
neighbourhood_name,
neighbourhood_overview,
neighbourhood_district,
availability_30,
availability_60,
availability_90,
availability_365,
first_review_date,
last_review_date,
license,
is_instant_bookable,
reviews_per_month.

**Por ahora dejamos las siguientes columnas que tenemos solo en el df original, por si los nesesitamos para justificar nuestras conclusiones:**
host_id,
minimum_nights,
maximum_nights,
review_scores_accurancy,
review_scores_cleanliness,
review_scores_checkin,
review_scores_communication,
review_scores_location,
review_scores_value.

**Dejamos las siguientes columnas para el analisis:**
apartment_id,
name,
description,
latitude,
longitude,
room_type,
accomodates,
bathrooms,
beds,
amenities_list,
price,
has_availability,
number_of_reviews,
review_scores_rating,
country,
city,
insert_date.

In [110]:
#Lista de columnas a eliminar
columnas_a_eliminar = [
    'md5', 'neighbourhood_name', 'neighborhood_overview', 'neighbourhood_district',
    'availability_30', 'availability_60', 'availability_90',
    'availability_365', 'first_review_date', 'last_review_date',
    'license', 'is_instant_bookable', 'reviews_per_month'
]

df = df.drop(columns=columnas_a_eliminar)

In [111]:
df.head(2)

,apartment_id,name,description,host_id,latitude,longitude,room_type,accommodates,bathrooms,bedrooms,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,country,city,insert_date
0,36187629,Piso reformado excelente ubicacion,Apartamento reformado hace dos meses en el Cab...,261787331,3.947.149,-3.346,Entire home/apt,4,2.0,3.0,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,spain,valencia,2019-12-31
1,5388904,Nice Room in a Penthouse,The apartment is fully equipped. Large bathroo...,20843074,4.138.353,215.388,Private room,1,1.0,1.0,...,80.0,8.0,8.0,8.0,10.0,10.0,10.0,spain,barcelona,2021-01-12

# Limpieza de datos

In [112]:
#Columna ID´s
df.rename(columns={'apartment_id': 'ID'}, inplace=True)

df["ID"] = df["ID"].astype(str)
df['ID'] = df['ID'].astype(str).str.zfill(18)

In [113]:
#Cambiar las columnas de bathrooms, bedrooms y beds a int + rellenar valores nulos con 0
df['bathrooms'] = df['bathrooms'].fillna(0).astype(int)
df['bedrooms'] = df['bedrooms'].fillna(0).astype(int)
df['beds'] = df['beds'].fillna(0).astype(int)

In [114]:
df.head(2)

,ID,name,description,host_id,latitude,longitude,room_type,accommodates,bathrooms,bedrooms,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,country,city,insert_date
0,000000000036187629,Piso reformado excelente ubicacion,Apartamento reformado hace dos meses en el Cab...,261787331,3.947.149,-3.346,Entire home/apt,4,2,3,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,spain,valencia,2019-12-31
1,000000000005388904,Nice Room in a Penthouse,The apartment is fully equipped. Large bathroo...,20843074,4.138.353,215.388,Private room,1,1,1,...,80.0,8.0,8.0,8.0,10.0,10.0,10.0,spain,barcelona,2021-01-12

Creamos df1 y df 2 para mayor visibilidad, más adelante volveremos a juntar en un unico df

In [115]:
df1 = df[[
    'ID', 'host_id', 'minimum_nights', 'maximum_nights',
    'review_scores_accuracy', 'review_scores_cleanliness',
    'review_scores_checkin', 'review_scores_communication',
    'review_scores_location', 'review_scores_value'
]]

df2 = df[[
    'ID', 'name', 'description', 'latitude', 'longitude',
    'room_type', 'accommodates', 'bathrooms', 'beds', 'amenities_list',
    'price', 'has_availability', 'number_of_reviews', 'review_scores_rating',
    'country', 'city', 'insert_date'
]]

Limpieza de datos df1

In [116]:
df1.head(5)

,ID,host_id,minimum_nights,maximum_nights,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,000000000036187629,261787331,5,20.0,10.0,10.0,10.0,10.0,10.0,10.0
1,000000000005388904,20843074,1,1125.0,8.0,8.0,8.0,10.0,10.0,10.0
2,000000000039982406,308267305,1,30.0,NaN,NaN,NaN,NaN,NaN,NaN
3,000000000019344018,135531703,1,10.0,NaN,NaN,NaN,NaN,NaN,NaN
4,000000000017218380,8345284,1,1125.0,9.0,8.0,8.0,9.0,8.0,8.0

In [117]:
#Cambar a int la columna maximum_nights
def convertir_a_entero(valor):
    if pd.isna(valor):
        return valor
    else:
        return int(float(valor))

#Aplicar la función
df1['maximum_nights'] = df1['maximum_nights'].apply(convertir_a_entero).astype('Int64')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8496\588006544.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['maximum_nights'] = df1['maximum_nights'].apply(convertir_a_entero).astype('Int64')

In [118]:
df1.dtypes

ID                              object
host_id                          int64
minimum_nights                   int64
maximum_nights                   Int64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
dtype: object

Limpieza de datos df2

In [119]:
df2.head(3)

,ID,name,description,latitude,longitude,room_type,accommodates,bathrooms,beds,amenities_list,price,has_availability,number_of_reviews,review_scores_rating,country,city,insert_date
0,000000000036187629,Piso reformado excelente ubicacion,Apartamento reformado hace dos meses en el Cab...,3.947.149,-3.346,Entire home/apt,4,2,3,"{TV,Wifi,""Air conditioning"",Kitchen,""Smoking a...",90.0,True,1,100.0,spain,valencia,2019-12-31
1,000000000005388904,Nice Room in a Penthouse,The apartment is fully equipped. Large bathroo...,4.138.353,215.388,Private room,1,1,1,"[""Wifi"", ""Kitchen"", ""Heating"", ""TV"", ""Essentia...",100.0,True,1,80.0,spain,barcelona,2021-01-12
2,000000000039982406,LUXURY 5 BEDROOM APARTMENT IN MONCLOA-ARAVACA,Luxury Apartment located in a priveleged zone ...,4.046.614,-380.948,Entire home/apt,10,3,8,"{TV,""Cable TV"",Wifi,""Air conditioning"",Pool,Ki...",220.0,True,0,NaN,spain,madrid,2020-01-10

In [120]:
#Cambiamos nombres a español para luego poder juntar con los df de AirBnb
valores_a_cambiar = {
    'Entire home/apt': 'Alojamiento entero',
    'Private room': 'Habitación privada',
    'Hotel room': 'Hotel',
    'Shared room': 'Habitación compartida'
}

# eemplazar los valores en la columna 'room_type'
df2['room_type'] = df2['room_type'].replace(valores_a_cambiar)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8496\4037788930.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['room_type'] = df2['room_type'].replace(valores_a_cambiar)

In [121]:
df2['room_type'].unique()

array(['Alojamiento entero', 'Habitación privada', 'Hotel',
       'Habitación compartida', nan], dtype=object)

In [122]:
#Cambiamos la columna "price" a integer
def convertir_a_entero(valor):
    if pd.isna(valor):
        return valor
    else:
        return int(float(valor))

#Aplicar la función
df2['price'] = df2['price'].apply(convertir_a_entero).astype('Int64')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8496\182137692.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['price'] = df2['price'].apply(convertir_a_entero).astype('Int64')

In [123]:
#Cambiamos los valores de "counrty" y "city" para que comiencen con mayúscula
df2['country'] = df2['country'].str.title()
df2['city'] = df2['city'].str.title()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8496\2234583034.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['country'] = df2['country'].str.title()
C:\Users\Usuario\AppData\Local\Temp\ipykernel_8496\2234583034.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['city'] = df2['city'].str.title()

In [124]:
#Cambiamos la columna "insert date" a tipo fecha
df2['insert_date'] = pd.to_datetime(df2['insert_date'])

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8496\1182508231.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['insert_date'] = pd.to_datetime(df2['insert_date'])

In [125]:
df2.dtypes

ID                              object
name                            object
description                     object
latitude                        object
longitude                       object
room_type                       object
accommodates                     int64
bathrooms                        int32
beds                             int32
amenities_list                  object
price                            Int64
has_availability                object
number_of_reviews                int64
review_scores_rating           float64
country                         object
city                            object
insert_date             datetime64[ns]
dtype: object

Unir df1 y df2

In [126]:
df_alojamientos = pd.merge(df1, df2, on='ID')

In [127]:
#Movemos las columnas para mejor visualización
df_alojamientos = df_alojamientos[['ID', 'host_id', 'name', 'description', 'price', 'has_availability', 'room_type', 'accommodates', 'bathrooms', 'beds', 'minimum_nights', 'maximum_nights', 'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'country', 'city', 'latitude', 'longitude', 'insert_date', 'amenities_list']]

In [128]:
df_alojamientos.head(2)

,ID,host_id,name,description,price,has_availability,room_type,accommodates,bathrooms,beds,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,country,city,latitude,longitude,insert_date,amenities_list
0,000000000036187629,261787331,Piso reformado excelente ubicacion,Apartamento reformado hace dos meses en el Cab...,90,True,Alojamiento entero,4,2,3,...,10.0,10.0,10.0,10.0,Spain,Valencia,3.947.149,-3.346,2019-12-31,"{TV,Wifi,""Air conditioning"",Kitchen,""Smoking a..."
1,000000000005388904,20843074,Nice Room in a Penthouse,The apartment is fully equipped. Large bathroo...,100,True,Habitación privada,1,1,1,...,8.0,10.0,10.0,10.0,Spain,Barcelona,4.138.353,215.388,2021-01-12,"[""Wifi"", ""Kitchen"", ""Heating"", ""TV"", ""Essentia..."

# Guardar en un CSV

In [129]:
df_alojamientos.to_csv("alojamientos_limpio.csv", index=False)